<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Change Password</title>
        <link href="../../../sb-admin/css/styles.css" rel="stylesheet" />
        <%- include('partials/header') -%>
    </head>
    <body class="sb-nav-fixed">
        <%- include('partials/nav') -%>
        <div id="layoutSidenav">
            <%- include('partials/sidebar') -%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-4">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-key mr-1"></i>
                                Change Password
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    <div class="tab-content py-4">
                                        <div class="active tab-pane" id="edit">
                                            <form role="form" action="" method="POST">
                                                <div class="col-lg-7">
                                                    <%- include('../component/flash') -%>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label form-control-label">Email:</label>
                                                    <div class="col-lg-5">
                                                        <input class="form-control" name="email" type="text" disabled value="<%=user.email%>">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="password" value="<%=user.password%>">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label form-control-label">Password new:</label>
                                                    <div class="col-lg-5">
                                                        <input class="form-control" type="password" name="password_new" data-toggle="password" value="" data-toggle="password">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label form-control-label">Confirm password:</label>
                                                    <div class="col-lg-5">
                                                        <input class="form-control" type="password" name="password_comfirm" data-toggle="password" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label form-control-label"></label>
                                                    <div class="col-lg-5">
                                                        <input type="reset" class="btn btn-secondary" value="Reset">
                                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </main>
                <%- include('partials/footer') -%>
                </footer>
            </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../../../sb-admin/js/scripts.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="../../../sb-admin/assets/demo/datatables-demo.js"></script>
    </body>
</html>
